/*FONTS*/
@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Italic;
    src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Lato-Thin;
  src: url('../fonts/Lato-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Lato-Thin-Italic;
  src: url('../fonts/Lato-ThinItalic.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Light;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Light-Italic;
    src: url('../fonts/Lato-LightItalic.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Bold-Italic;
    src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Black;
    src: url('../fonts/Lato-Black.ttf') format('truetype');
}

@font-face {
    font-family: Lato-Black-Italic;
    src: url('../fonts/Lato-BlackItalic.ttf') format('truetype');
}

