body {
  background: white;
  color: var(--dark-text-color);
}

.container{
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section{
  width: auto;
  text-align: center;
}

.card-color {
  cursor: pointer;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #cccccc,
                0 0 0 #ffffff;
  padding: 0px;
  text-align: center;
  transition: all .3s ease-in-out;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 10px;
}

.border{
  border: 1px solid #f8f8f8!important;
}

.card-color:hover{
  transform: scale(1.05);
}

.input {
  padding: 10px;
  border-radius: 5px;
}

.btn-primary {
  background: none;
}
.btn {
  border: var(--pink-color);
  color:  var(--pink-color);
  border: solid 1px;
  font-family: Lato-Regular, Arial, sans-serif;
  padding: 0.5rem;
  border-radius: 25px;
  font-weight: bold;
}

.btn:disabled {
    opacity: 0.5;
}

.img {
  margin-top: 10px;
  width: 70%;
}

/*Colors*/

.magenta-pink{
  background-color: var(--pink-color);
}

.dark-purple{
  background-color: var(--purple-color);
}

.bluish-green{
  background-color: var(--dark-blue-color);
}

.mint-green{
  background-color: var(--light-blue-color);
}

.light-yellow{
  background-color: var(--yellow-color);
}

.cierreIA{
  text-align: -webkit-center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bold{
  font-weight: bold;
}

#loader{
  background: white;
}

#intro{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: white;
}

#intro section{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: transparent;
  display: flex;
  font-size: 2rem;
  background-color: white;
}

.inicio-animacion{
  top: 100vh !important;
}

.empezar-animacion{
  animation-name: slideinup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinup {
  from {
    top:100vh;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

