body {
  background: white;
  color: var(--dark-text-color);
}

.container{
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

section{
  width: auto;
  text-align: center;
}

.card-color {
  cursor: pointer;
  background: white;
  border-radius: 20px;
  box-shadow: 10px 10px 10px #cccccc,
                0 0 0 #ffffff;
  padding: 0px;
  text-align: center;
  transition: all .3s ease-in-out;
  align-items: center;
  height: 150px;
  width: 150px;
  margin: 10px;
}

.border{
  border: 1px solid #f8f8f8!important;
}

.card-color:hover{
  transform: scale(1.05);
}

.input {
  padding: 10px;
  border-radius: 5px;
}

.btn-primary {
  background: none;
}
.btn {
  border: var(--pink-color);
  color:  var(--pink-color);
  border: solid 1px;
  font-family: Lato-Regular, Arial, sans-serif;
  padding: 0.5rem;
  border-radius: 25px;
  font-weight: bold;
}

.btn:disabled {
    opacity: 0.5;
}

.img {
  margin-top: 10px;
  width: 70%;
}

/*Colors*/

.magenta-pink{
  background-color: var(--pink-color);
}

.dark-purple{
  background-color: var(--purple-color);
}

.bluish-green{
  background-color: var(--dark-blue-color);
}

.mint-green{
  background-color: var(--light-blue-color);
}

.light-yellow{
  background-color: var(--yellow-color);
}

.cierreIA{
  text-align: -webkit-center;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #007bff;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.bold{
  font-weight: bold;
}

#loader{
  background: white;
}

#intro{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background-color: white;
}

#intro .linea-1 {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: transparent;
  display: flex;
  font-size: 1.4rem;
  background-color: white;
  position: relative;
  top: -15%;
}
.linea-1 .text-center{
  width: 80%;
}

.inicio-animacion{
  top: 100vh !important;
}

.empezar-animacion{
  animation-name: slideinup;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes slideinup {
  from {
    top:100vh;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

/*Spinner*/

.loader-container {
  z-index: 10;
  position: relative;
  transition: 0.3s;
  top: 10vh;
  height: 150px;
  width: 150px;
}

.cube-loader {
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 50px;
  transform-style: preserve-3d;
  transition: transform 0.5s 0.1s;
  perspective: 9999px;
  color: #333;
  margin: -40px 0 0 -40px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -37px;
  /*top: 50%;*/
  z-index: 11;
  animation: rotate 4s infinite forwards;
  margin-top: -50px;

  .cube-face {
    box-shadow: inset 0 0 2px 1px #fff, 0 0 1px 1px #fff;
    width: inherit;
    height: inherit;
    position: absolute;
    background-color: #121212e0;
    color: #fff;
  }
}

.cube-loader .cube-face-front {
  transform: translate3d(0, 0, 40px);
  background-color: var(--yellow-color);
}

.cube-loader .cube-face-back {
  transform: rotateY(180deg) translate3d(0, 0, 40px);
  background-color: var(--dark-blue-color);
}

.cube-loader .cube-face-left {
  transform: rotateY(-90deg) translate3d(0, 0, 40px);
  background-color: var(--dark-text-color);
}

.cube-loader .cube-face-right {
  transform: rotateY(90deg) translate3d(0, 0, 40px);
  background-color: var(--pink-color);
}

.cube-loader .cube-face-top {
  transform: rotateX(90deg) translate3d(0, 0, 40px);
  background-color: var(--purple-color);
}

.cube-loader .cube-face-bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 40px);
  background-color: var(--light-blue-color);
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }

  20% {
    transform: rotateY(90deg) rotateZ(0deg);
  }

  40% {
    transform: rotateX(45deg) rotateZ(45deg);
  }

  60% {
    transform: rotateX(90deg) rotateY(180deg) rotateX(90deg);
  }

  80% {
    transform: rotateX(310deg) rotateZ(230deg);
  }

  100% {
    transform: rotateX(360deg) rotateZ(360deg);
  }
}

/*img*/
.reveal-box {
  position: relative;
  height: calc(100vh - 48px);
  max-height: 700px;
  /* width: calc((100vh - 48px) * 0.66); */
  max-width: 1400px;
  overflow: hidden;
  border-radius: 25px;
}

.reveal-box__inner {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.reveal-box__inner::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/img/fondo-violeta-seccion-3d.png);
  border-radius: 20px;
}

.reveal-box__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enter .reveal-box__inner {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1s both paused slide-in-right;
}
.enter .reveal-box__inner::after {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1.6s both paused slide-out-right;
}
.enter .reveal-box__image {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1.3s both paused scale-in-down;
}

.leave .reveal-box__inner {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1s both paused slide-out-right;
}
.leave .reveal-box__inner::after {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1s both paused slide-in-left;
}
.leave .reveal-box__image {
  animation: 1.5s cubic-bezier(0.76, 0, 0.24, 1) 1s both paused slide-out-left;
}

.animate .reveal-box__inner {
  animation-play-state: running;
}
.animate .reveal-box__inner::after {
  animation-play-state: running;
}
.animate .reveal-box__image {
  animation-play-state: running;
}

@keyframes slide-in-right {
  0% {
    transform: translate3D(-100%, 0, 0);
  }
  100% {
    transform: translate3D(0, 0, 0);
  }
}
@keyframes slide-out-right {
  0% {
    transform: translate3D(0, 0, 0);
  }
  100% {
    transform: translate3D(100%, 0, 0);
  }
}
@keyframes slide-in-left {
  0% {
    transform: translate3D(100%, 0, 0);
  }
  100% {
    transform: translate3D(0, 0, 0);
  }
}
@keyframes slide-out-left {
  0% {
    transform: translate3D(0, 0, 0);
  }
  100% {
    transform: translate3D(-100%, 0, 0);
  }
}
@keyframes scale-in-down {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/* Miscelaneas */
.purple-waves{
  top: 10vh;
  right: 0px;
  width: 250px;
}

.lightblue-waves{
  top: 80vh;
  right: 0px;
}

.yellow-waves{
  top: 5vh;
  left: -10px;
  width: 200px;
}

#pregunta1 .cubo-3d,
#pregunta2 .cubo-3d,
#pregunta3 .cubo-3d,
#img .cubo-3d{
  top: 75vh;
  left: -6px;
}
.color-pink{
  color: var(--pink-color);
  font-size: 2rem;
}

.gift {
  position: absolute;
  top: 85vh;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  /* transform: translate3d(-50%, -50%, 0); */
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform-origin: center;
}

.gift:hover{
  transform: scale(1.2);
  animation: shake 3s infinite;
  -webkit-animation: shake 3s infinite;
  -moz-animation: shake 3s infinite;
  -ms-animation: shake 3s infinite;
  -o-animation: shake 3s infinite;
}
.gift-top:hover{
  animation: shake 3s infinite;
  -webkit-animation: shake 3s infinite;
  -moz-animation: shake 3s infinite;
  -ms-animation: shake 3s infinite;
  -o-animation: shake 3s infinite;
}

.gift-top {
  position: relative;
  width: 100%;
  height: 25%;
  background: #F54537;
  border-radius: 5px 5px 0 0;
  background-image: linear-gradient(to right, var(--pink-color)0%, var(--pink-color)44%, var(--yellow-color) 44%, var(--yellow-color) 56%, var(--pink-color)56%, var(--pink-color)100%);
}

.gift-top.hovered {
  
}

.gift-bottom.fadeout {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gift-top.fadeout {
  -webkit-animation-name: rotateOutUpRight;
  animation-name: rotateOutUpRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.gift-top::before,
.gift-top::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 10px solid var(--yellow-color);
  border-radius: 50% 50% 0 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-100%, -100%, 0) skew(10deg, 10deg);
}

.gift-top::after {
  border-radius: 50% 50% 50% 0;
  transform: translate3d(0, -100%, 0) skew(-10deg, -10deg);
}

.gift-text {
  color: #333333;
  text-align: center;
}

.gift-final-text {
  text-align: center;
  font-size: 33px;
  display: none;
}

.gift-bottom {
  width: 95%;
  height: 75%;
  margin: 0 auto;
  background-image: linear-gradient(to right, var(--pink-color)0%, var(--pink-color)45%, var(--yellow-color) 45%, var(--yellow-color) 55%, var(--pink-color)55%, var(--pink-color)100%);
  border-radius: 0 0 5px 5px;
}

.gift-card-text {
  display: none;
  font-size: 33px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  position: absolute;
  width: 100%;
}

@keyframes shake {
  0% {
      transform: rotate(0deg);
  }
  12% {
      transform: rotate(-10deg);
  }
  25% {
      transform: rotate(10deg);
  }
  37% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(0deg);
  }
}

@-webkit-keyframes shake {
  0% {
      -webkit-transform: rotate(0deg);
  }
  12% {
      -webkit-transform: rotate(-10deg);
  }
  25% {
      -webkit-transform: rotate(10deg);
  }
  37% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(0deg);
  }
}

@-moz-keyframes shake {
  0% {
      -moz-transform: rotate(0deg);
  }
  12% {
      -moz-transform: rotate(-10deg);
  }
  25% {
      -moz-transform: rotate(10deg);
  }
  37% {
      -moz-transform: rotate(0deg);
  }
  100% {
      -moz-transform: rotate(0deg);
  }
}

@-ms-keyframes shake {
  0% {
      -ms-transform: rotate(0deg);
  }
  12% {
      -ms-transform: rotate(0deg);
  }
  25% {
      -ms-transform: rotate(10deg);
  }
  37% {
      -ms-transform: rotate(0deg);
  }
  100% {
      -ms-transform: rotate(0deg);
  }
}

@-o-keyframes shake {
  0% {
      -o-transform: rotate(0deg);
  }
  12% {
      -o-transform: rotate(0deg);
  }
  25% {
      -o-transform: rotate(10deg);
  }
  37% {
      -o-transform: rotate(0deg);
  }
  100% {
      -o-transform: rotate(0deg);
  }
}

@-webkit-keyframes fadeOutDown {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes rotateOutUpRight {
  0% {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      opacity: 1;
  }
  100% {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 0;
  }
}

@keyframes rotateOutUpRight {
  0% {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      opacity: 1;
  }
  100% {
      -webkit-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: rotate3d(0, 0, 1, 90deg);
      transform: rotate3d(0, 0, 1, 90deg);
      opacity: 0;
  }
}
.lightblue-waves{
  z-index: 1;
}
#intro .cubo-3d{
  z-index: 1;
  top: -20px;
  left: 90%;
  width: 120px;
  height: 120px;
}
.cross-90{
  background: url(../assets/img/cross_90.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 55px;
  height: 50px;
  width: 50px;
  z-index: 2;
}
.grid-celeste{
  background: url(../assets/img/grid-celeste.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 0;
  height: 250px;
  width: 250px;
  z-index: 1;
  top: 70% !important;
  left: -10px !important;
}
.semicircle-purple{
  background: url(../assets/img/semicircle_outline_purple.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 40%;
  right: -20px;
  height: 160px;
  width: 160px;
  z-index: 1;
}
.triangulo-amarillo{
  background: url(../assets/img/triangle-yellow.png) no-repeat center;
  background-size: contain;
  position: absolute;
  top: 10px;
  left: 40px;
  height: 80px;
  width: 80px;
  z-index: 1;
}