/* Dots background */
.dots-bg {
    left: 0;
    top: 120vh;
}
.card{
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    border-radius: var(--bs-card-inner-border-radius);
}

.card h3{
    color: var(--dark-blue-color);
}
.card p{
    color: var(--dark-blue-color);
}


/* pac man */
#pacman{
    position: absolute;
    top: calc(50vh - 30px);
    left: calc(50vw - 90px);
}
.circles{
    position:absolute;
    left:-5px;
    top:0;
    height:60px;
    width:180px
}
.circles span{
    position:absolute;
    top:25px;
    height:12px;
    width:12px;
    border-radius:12px;
    background-color:white}
.circles span.one{
    right:80px
}
.circles span.two{
    right:40px
}
.circles span.three{
    right:0px
}
.circles{
    -webkit-animation:animcircles 0.5s infinite linear;
    animation:animcircles 0.5s infinite linear
}
@-webkit-keyframes animcircles{
    0%{
        -webkit-transform:translate(0px,0px);transform:translate(0px,0px)
    }
    100%{
        -webkit-transform:translate(-40px,0px);transform:translate(-40px,0px)
    }
}
@keyframes animcircles{
    0%{
        -webkit-transform:translate(0px,0px);transform:translate(0px,0px)
    }
    100%{
        -webkit-transform:translate(-40px,0px);transform:translate(-40px,0px)
    }
}
.pacman{
    position:absolute;
    left:0;
    top:0;
    height:60px;
    width:60px
}
.pacman .eye{
    position:absolute;
    top:10px;left:30px;
    height:7px;
    width:7px;
    border-radius:7px;
    background-color:white
}
.pacman span{
    position:absolute;
    top:0;
    left:0;
    height:60px;
    width:60px
}
.pacman span::before{
    content:"";
    position:absolute;
    left:0;
    height:30px;
    width:60px;
    background-color:white
}
.pacman .top::before{top:0;border-radius:60px 60px 0px 0px}
.pacman .bottom::before{bottom:0;border-radius:0px 0px 60px 60px}
.pacman .left::before{bottom:0;height:60px;width:30px;border-radius:60px 0px 0px 60px}
.pacman .top{-webkit-animation:animtop 1s infinite;animation:animtop 1s infinite}
@-webkit-keyframes animtop{
    0%,100%{
        -webkit-transform:rotate(0deg);transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(-45deg);transform:rotate(-45deg)
    }
}
@keyframes animtop{
    0%,100%{
        -webkit-transform:rotate(0deg);transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(-45deg);transform:rotate(-45deg)
    }
    }
.pacman .bottom{
    -webkit-animation:animbottom 1s infinite;
    animation:animbottom 1s infinite
}
@-webkit-keyframes animbottom{
    0%,100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
        }
}
@keyframes animbottom{
    0%,100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
    }
}

/* Scroll animation */
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid var(--pink-color);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    background: var(--pink-color);
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid white;
  	    border-bottom: 3px solid white;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

/* Cubes */
.cube {
    --size: 8rem;
    --rotation: 90deg;
    --green: $--cube-green;
    width: var(--size);
    height: var(--size);
    margin-top: calc(var(--y) - var(--size) / 2);
    margin-left: calc(var(--x) - var(--size) / 2);
    position: relative;
    transform-origin: 50% 50% calc(var(--size) * -0.5);
    transform: scale(var(--s, 1)) rotatex(var(--rx, 55deg)) rotatey(var(--ry, 0deg)) rotatez(var(--rz, 45deg));
    transform-style: preserve-3d;
    z-index: var(--zi, 0);
    background: var(--green);
  }
  .cube-wrapper {
    transform-style: preserve-3d;
    opacity: var(--o);
    transform: translateZ(var(--z));
    will-change: transform, opacity;
  }
  .cube__side, .cube__face {
    width: var(--size);
    height: var(--size);
    position: absolute;
    background: inherit;
    background: #3E3E63;
  }
  .cube__face:last-of-type {
    transform: translatez(calc(var(--size) * -1));
  }
  
  .cube:not(.cube--solid) .cube__side:nth-child(1) {
    background: #E43C5A;
  }
  .cube:not(.cube--solid) .cube__side:nth-child(2) {
    background: #744593;
  }
  .cube:not(.cube--solid) .cube__side:nth-child(3) {
    background: #E9DF67;
  }
  .cube:not(.cube--solid) .cube__side:nth-child(4) {
    background: #E43C5A;
  }
  
  .cube__side:nth-child(1) {
    transform-origin: 50% 100%;
    transform: rotatex(var(--rotation));
  }
  .cube__side:nth-child(2) {
    transform-origin: 100% 50%;
    transform: rotatey(calc(var(--rotation) * -1));
  }
  .cube__side:nth-child(3) {
    transform-origin: 0% 50%;
    transform: rotatey(var(--rotation));
  }
  .cube__side:nth-child(4) {
    transform-origin: 50% 0%;
    transform: rotatex(calc(var(--rotation) * -1));
  }
  
  * {
    box-sizing: border-box;
  }
  
  html, body {
    overflow: hidden;
  }
  
  body {
    display: grid;
    height: 100vh;
    background: #6DC2C4;
    font-family: Helvetica, sans-serif;
  }
  
  .abs-center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    margin: auto;
  }
  
  .scene {
    display: flex;
    transform-style: preserve-3d;
    transform: translateZ(0);
    will-change: transform;
  }
  
  .pen-list {
    padding: 0;
    margin: auto;
  }
  
  .pen-list li {
    font-size: 2.1rem;
    color: white;
    padding: 0.5rem;
  }


.inicio-animacion{
    top: 100vh !important;
}

.empezar-animacion{
    animation-name: slideinup;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}