/* Dots background */
.dots-bg {
    left: 0;
    top: 120vh;
}
.card{
    padding-top: calc(var(--bs-gutter-x) * 0.5);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
}
.card img{
    border-radius: var(--bs-card-inner-border-radius);
}

.card h3{
    color: var(--dark-blue-color);
}
.card p{
    color: var(--dark-blue-color);
}


/* pac man */
#pacman{
    position: absolute;
    top: calc(50vh - 30px);
    left: calc(50vw - 90px);
}
.circles{
    position:absolute;
    left:-5px;
    top:0;
    height:60px;
    width:180px
}
.circles span{
    position:absolute;
    top:25px;
    height:12px;
    width:12px;
    border-radius:12px;
    background-color:white}
.circles span.one{
    right:80px
}
.circles span.two{
    right:40px
}
.circles span.three{
    right:0px
}
.circles{
    -webkit-animation:animcircles 0.5s infinite linear;
    animation:animcircles 0.5s infinite linear
}
@-webkit-keyframes animcircles{
    0%{
        -webkit-transform:translate(0px,0px);transform:translate(0px,0px)
    }
    100%{
        -webkit-transform:translate(-40px,0px);transform:translate(-40px,0px)
    }
}
@keyframes animcircles{
    0%{
        -webkit-transform:translate(0px,0px);transform:translate(0px,0px)
    }
    100%{
        -webkit-transform:translate(-40px,0px);transform:translate(-40px,0px)
    }
}
.pacman{
    position:absolute;
    left:0;
    top:0;
    height:60px;
    width:60px
}
.pacman .eye{
    position:absolute;
    top:10px;left:30px;
    height:7px;
    width:7px;
    border-radius:7px;
    background-color:white
}
.pacman span{
    position:absolute;
    top:0;
    left:0;
    height:60px;
    width:60px
}
.pacman span::before{
    content:"";
    position:absolute;
    left:0;
    height:30px;
    width:60px;
    background-color:white
}
.pacman .top::before{top:0;border-radius:60px 60px 0px 0px}
.pacman .bottom::before{bottom:0;border-radius:0px 0px 60px 60px}
.pacman .left::before{bottom:0;height:60px;width:30px;border-radius:60px 0px 0px 60px}
.pacman .top{-webkit-animation:animtop 1s infinite;animation:animtop 1s infinite}
@-webkit-keyframes animtop{
    0%,100%{
        -webkit-transform:rotate(0deg);transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(-45deg);transform:rotate(-45deg)
    }
}
@keyframes animtop{
    0%,100%{
        -webkit-transform:rotate(0deg);transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(-45deg);transform:rotate(-45deg)
    }
    }
.pacman .bottom{
    -webkit-animation:animbottom 1s infinite;
    animation:animbottom 1s infinite
}
@-webkit-keyframes animbottom{
    0%,100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
        }
}
@keyframes animbottom{
    0%,100%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg)
    }
    50%{
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg)
    }
}

/* Scroll animation */
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid var(--pink-color);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    background: var(--pink-color);
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid white;
  	    border-bottom: 3px solid white;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}
