
#loader{
    background: var(--yellow-color);
}
#loader img{
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);;
}

.btn-varita {
  text-decoration: none;
  font-size: 3rem;
  transition: font-size 0.3s ease; /* Agregamos una transición suave al tamaño de la fuente */
  height: 4rem;
  width: 4rem;
  background: url(../assets/img/icon-varita.png) no-repeat center;
  background-size: contain;
  color: transparent;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
}

.btn-varita:hover {
  transform: scale(1.2); /* Ajusta el valor de escala según tu preferencia */
  color: transparent;
}

h2{
  color: var(--dark-blue-color);
}

h3{
  color: var(--purple-color);
}

/*Gallery*/
.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}


#poof{
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 1000;
}

.transition{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  z-index: 10;
  overflow: hidden;
}
.z-100{
  z-index: -100!important;
}

.transition div{
  height: 100%;
  width: 25%;
  position: relative;
}
.col-transition-1{
  background: var(--pink-color);
}
.col-transition-2{
  background: var(--light-blue-color);
}
.col-transition-3{
  background: var(--purple-color);
}
.col-transition-4{
  background: var(--yellow-color);
}
.top-0{
  top: 0;
}
.top100{
  top: 100vh;
}
.col-transition{
  animation: col-transition 1s ease-in-out;
}
@keyframes col-transition {
  from{
    top: 0;
  }
  to{
    top: 100vh;
  }
  
}