/*Iframe lib*/
iframe {
    width: 100%;
    border: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    display: block;
    display:flex;
    height: 150vh;
}
  
.window {
    border-radius: 9px;
    background-color: white;
    width: 340px !important;
    min-height: 100%;
    box-shadow: 0 0px 1.2px rgba(0, 0, 0, 0.021), 0 0px 2.7px rgba(0, 0, 0, 0.031),
      0 0px 4.6px rgba(0, 0, 0, 0.038), 0 0px 6.9px rgba(0, 0, 0, 0.044),
      0 0px 10px rgba(0, 0, 0, 0.05), 0 0px 14.2px rgba(0, 0, 0, 0.056),
      0 0px 20.1px rgba(0, 0, 0, 0.062), 0 0px 29.2px rgba(0, 0, 0, 0.069),
      0 0px 45px rgba(0, 0, 0, 0.079), 0 0px 80px rgba(0, 0, 0, 0.1);
}

.header {
    margin: 0px !important;
    background: #e8e8e8 !important;
    border-top-left-radius: 9px !important;
    border-top-right-radius: 9px !important;
    height: 34px !important;
    padding: 12px !important;
}
  
.mockup-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
}
  
.red {
    background-color: #ff5f56;
}
  
.yellow {
    background-color: #ffc343;
    margin-left: 3px;
}
  
.green {
    background-color: #32a852;
    margin-left: 3px;
}

.embed_documentation_footer--documentationFooter--pnTqy{
    display: none !important;
}

iframe{
    width: 340px !important;
    height: 703px !important;
}

body, .ui-mobile-viewport{
    overflow: hidden;
}
.header{
    display: none;
}
section{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
@media(max-width: 1366px){
    .window{
        transform: scale(0.8);
        margin-top: -40px;
    }
}

body{
    background: url(./../assets/img/fondo-wallet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#loader{
    background: url(./../assets/img/splash-wallet.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}