img{
    max-width: 25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.yellow-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/fondo-amarillo.png) no-repeat;
    background-size: contain;
    background-position: -20% center;
    z-index: -1;
}
.purple-waves{
    right: -20px;
}

#loader{
    background: var(--purple-color);
}

/* Spinner */

@keyframes ldio-94rgclwo3yg {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}

.loadingio-spinner-magnify-ocyc37iqr9{
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}

.ldio-94rgclwo3yg{
    transform: scale(0.5);
}

.ldio-94rgclwo3yg > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-94rgclwo3yg > div > div {
  animation: ldio-94rgclwo3yg 2s linear infinite;
  position: absolute
}

.ldio-94rgclwo3yg > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid white;
  background: transparent
}

.ldio-94rgclwo3yg > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: white;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-ocyc37iqr9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent
}
.ldio-94rgclwo3yg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-94rgclwo3yg div { box-sizing: content-box; }
/* generated by https://loading.io/ */