/*Misc*/


img{
    width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}
.yellow-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url(../assets/img/fondo-amarillo.png) no-repeat;
    background-size: contain;
    background-position: -20% center;
    z-index: -1;
}
.purple-waves{
    right: -20px;
}

#loader{
    background: white;
  }

/* Spinner */

@keyframes ldio-94rgclwo3yg {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}

.loadingio-spinner-magnify-ocyc37iqr9{
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
}

.ldio-94rgclwo3yg{
    transform: scale(0.5);
}

.ldio-94rgclwo3yg > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-94rgclwo3yg > div > div {
  animation: ldio-94rgclwo3yg 2s linear infinite;
  position: absolute
}

.ldio-94rgclwo3yg > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid white;
  background: transparent
}

.ldio-94rgclwo3yg > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: white;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-ocyc37iqr9 {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent
}
.ldio-94rgclwo3yg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-94rgclwo3yg div { box-sizing: content-box; }
/* generated by https://loading.io/ */



/*Message*/

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.text {
  font-size: 6vw;
  letter-spacing: -.01em;
  line-height: 100%;
  margin: 0;
  
  width: 100%;
  color: var(--dark-text-color);
  background: linear-gradient(to right, #b6b6b6, #b6b6b6) no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 0%;
  transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s;
  
  /*border-bottom: 1px solid #2F2B28;*/
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

span {
  font-size: 6vw;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3E3E63;
  color: white;
  
  clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  transform-origin: center;
  transition: all cubic-bezier(.1,.5,.5,1) 0.4s;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text:hover > span {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

a {
  text-decoration: none;
  color: white!important;
}

.btn-next{
  cursor: pointer;
  color: #E43C5A;
}

#usar-lupa{
  text-align: center;
  
}

#mensaje-oculto{
  margin-right: 100px;
}

/* Miscelaneas */
.purple-waves{
  top: 5vh;
  right: -10px;
  width: 250px;
}

.lightblue-waves{
  top: 80vh;
  right: -10px;
}

.yellow-waves{
  top: 5vh;
  left: -10px;
  width: 200px;
}

.cubo-3d{
  top: 75vh;
  left: -6px;
}

.r{
  background: url("../assets/img/sticker-4.png") no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 45vh;
  right: 9px;
}