/*Campaña McDonalds*/
#seccion-mcdonalds{
    background-image: url(../assets/img/section-bg-lightblue.svg);
    background-position: center;
    height: 100%;
}

/* Custom scrollbar */
 ::-webkit-scrollbar {
    width: 40px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-image: url(../assets/img/radish.png); 
    background-repeat: no-repeat, no-repeat;
    background-size: 40px;
}/*end custom scrollbar */

#seccion-mcdonalds h2, #seccion-mcdonalds h3{
    color: white;
}

#seccion-mcdonalds article{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.form-control:focus{
    border: none;
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.25);
}
.input-group{
    border-radius: 25px;
}
#siguiente{
	position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.616);
    display: flex;
}
#siguiente article{
	background: var(--purple-color);
	width: 50%;
	padding: 30px 0;
	border-radius: 20px;
}
#siguiente h2,
#siguiente h3{
	color: white;
}
.plyr{
    width: 66%;
}

#bajar{
    position: absolute;
    bottom: 25px;
}
#loader{
    background: var(--dark-blue-color);
}
/* Spinner loader */
.loading #main {
	opacity: .1
  }
  .spinner {
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 10
  }
  .spinner .spinWrap {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -50px
  }
  .spinner .loader,
  .spinner .spinnerImage {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	opacity: 1;
	filter: alpha(opacity=100)
  }
  .spinner .spinnerImage {
	margin: 21px 0 0 -31px;
	background: url(https://www.paypalobjects.com/images/checkout/hermes/icon_ot_spin_lock_skinny.png) no-repeat
  }
  .spinner .loader {
	margin: 0 0 0 -55px;
	background-color: transparent;
	-webkit-animation: rotation 1.2s infinite linear;
	-moz-animation: rotation 1.2s infinite linear;
	-o-animation: rotation 1.2s infinite linear;
	animation: rotation 1.2s infinite linear;
	border-left: 5px solid #ffffff4d;
	border-right: 5px solid #ffffff4d;
	border-bottom: 5px solid #ffffff4d;
	border-top: 5px solid white;
	border-radius: 100%
  }
  .spinner .loadingMessage {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-top: 125px;
	text-align: center;
	z-index: 100;
	outline: 0
  }
  .spinner .loadingSubHeading {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	width: 150%;
	margin-top: 10px;
	margin-left: -42px;
	text-align: center;
	z-index: 100;
	outline: 0
  }
  @-webkit-keyframes rotation {
	from {
	  -webkit-transform: rotate(0)
	}
	to {
	  -webkit-transform: rotate(359deg)
	}
  }
  @-moz-keyframes rotation {
	from {
	  -moz-transform: rotate(0)
	}
	to {
	  -moz-transform: rotate(359deg)
	}
  }
  @-o-keyframes rotation {
	from {
	  -o-transform: rotate(0)
	}
	to {
	  -o-transform: rotate(359deg)
	}
  }
  @keyframes rotation {
	from {
	  transform: rotate(0)
	}
	to {
	  transform: rotate(359deg)
	}
  }
/* Scroll animation */
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid var(--pink-color);
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    background: var(--pink-color);
	&::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid white;
  	    border-bottom: 3px solid white;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}