#puzzle-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#puzzle-modal h3{
    font-family: Lato-Bold;
    width: 75%;
    margin: auto;

}

#puzzle-modal article {
    border-radius: 1em;
    text-align: center;
    max-width: 715px;
    margin: auto;
}

#puzzle-modal #contenedor {
    display: inline-block;
    margin: 10px;
    width: 428px;
    max-width: 428px;
    background-color: var(--dark-blue-color);
    padding: calc(var(--bs-gutter-x) * 0.5);
    border-radius: 5px;
}
#puzzle-modal .row{
    justify-content: center;
    align-items: center;

}
#puzzle-modal #contenedor>div {
    float: left;
    width: 202px;
    height: 202px;
    background-color: var(--dark-blue-color);
}

#puzzle-modal #imagenes {
    display: inline-block;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 1em;
    border-radius: 5px;
    margin-top: 10px;
    height: 590px;
    width: 114px;
    max-width: 114px;
    background-color: var(--purple-color);
    padding: 10px;
}
#puzzle-modal #imagenes>img {
    height: 76px;
    width: 76px;
    margin: 10px;
}

#puzzle-modal .over {
    background-color:#545483;
    opacity: 0.5;
}

#puzzle-modal #resultado {
    font-size:1.5em;
    position: absolute;
    top: 40%;
    background: var(--dark-blue-color);
    color: white;
    text-align: center;
    width: 80%;
    left: 10%;
    padding: 0.5em;
    border-radius: 10px;
}
#puzzle-modal #resultado p{
    color: white;
}
#puzzle-modal .hide {
    display:none;
}
#puzzle-modal h5{
    margin-bottom: 2rem;
}
@media(max-width: 1366px){
    #puzzle-modal #imagenes {
        height: 430px;
        max-width: calc(80px + 0.5rem);
        width: calc(80px + 0.5rem);
        padding: 10px;
    }
    #puzzle-modal #imagenes>img {
        height: 58px;
        width: 58px;
        margin: 5px;
    }
    #puzzle-modal #contenedor{
        max-width: 350px;
    }
    #puzzle-modal #contenedor>div {
        width: 140px;
        height: 140px;
    }
    #puzzle-modal #contenedor>div img {
        width: 140px;
        height: 140px;
    }
    #puzzle-modal #contenedor>div>div {
        width: 140px;
        height: 140px;
    }
    #puzzle-modal h5{
        margin-bottom: 1rem;
    }
}
#blur-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.155);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--bs-modal-border-radius);
}

.mensaje-completado{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    background: rgba(0, 0, 0, 0.329);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: url("../assets/img/confeti.gif");
    background-size: contain;
}

.mensaje-completado img{
    max-height: 70%;
    margin: 15% auto;
    position: absolute;
}

#img-carta{
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow:  20px 20px 60px #414141,
             -20px -20px 60px #595959;
}

.spin{
    animation: spin 1s ease-in-out;
}

.spin-reverse{
    animation: spin-reverse 1s ease-in-out
}

.reverso-carta{
    
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
    /* transform: translateZ(-1px); */
    z-index: -1;
}

@keyframes spin{
	from{
        transform:rotateY(0deg);
    }
	to{
        transform:rotateY(720deg);
    }	
}

@keyframes spin-reverse{
	from{
        transform:rotateY(180deg);
    }
	to{
        transform:rotateY(900deg);
    }	
}