@import url(../assets/fonts/font.css);
@import url(colors.css);

/* General styles */

*{
    font-family: Lato-Regular, Arial, sans-serif;
    color: var(--dark-text-color);
}

/* Custom scrollbar */
/* ::-webkit-scrollbar {
    width: 40px;
    background-color: transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-image: url(../assets/img/radish.png); 
    background-repeat: no-repeat, no-repeat;
    background-size: 40px;
}end custom scrollbar */
body{
    overflow-x: hidden;
}

.overflow-h{
  overflow: hidden;
}

h2{
    font-size: xx-large;
    font-family: Lato-Bold, Arial, sans-serif;
}
.text-left{
    text-align: left;
}

.ml-auto{
    margin-left: auto;
}
.btn{
    border: none;
    font-family: Lato-Regular, Arial, sans-serif;
    padding: 0.5rem 2rem;
    border-radius: 25px;
}
.btn-primary{
    background: var(--pink-color);
}
.h-100{
    height: 100%;
}

.section{
    min-height: 100vh;
    width: 100%;
}

.plyr svg{
  color: white;
}
.plyr button{
  border-radius: 50%;
}

/* Miscelaneas */
.purple-waves{
    background: url("../assets/img/waves-violetas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
    
}

.lightblue-waves{
    background: url("../assets/img/waves-celestes.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 56px;
    position: absolute;
}

.yellow-waves{
    background: url("../assets/img/waves-amarillas.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 104px;
    position: absolute;
}

.cubo-3d{
    background: url("../assets/img/cubo-3d.png") no-repeat;
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    position: absolute
}

/* Dots background */
.dots-bg {
  height: 70vh;
  width: 80vh;
  position: absolute;
  background-image: radial-gradient(rgb(61, 61, 97) 2px, transparent 0);
  background-size: 40px 40px;
}
/* end miscenaleas */

/* LOADER */
#loader{
  height: 100vh;
  width: 100vw;
  background: var(--pink-color);
  position: absolute;
  top: 0;
  z-index: 1000;
}

.lds-heart {
  display: inline-block;
  position: absolute;
  top: calc(50vh - 40px);
  left: calc(50vw - 40px);
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}
/* end loader */

/* Dark mode button */
.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    position: relative;
    width: 100px;
    height: 48px;
    border: 3px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    transition: background-color 250ms;
    cursor: pointer;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(61px, 7px);
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 3px #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 3px white;
    transform: translate(6px, 7px);
  }
  
  .sun-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: #ffbb52;
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    opacity: 1;
    transform: translate(6px, 7px) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(6px, 7px) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: var(--icon-size);
    width: var(--icon-size);
    color: white;
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 2em;
    width: 2em;
    opacity: 0;
    transform: translate(6px, 6px) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(61px, 6px) rotate(-15deg);
  }
  .moon-icon-wrapper path{
    color: white;
  }
  .sun-icon-wrapper path,
  .sun-icon-wrapper circle{
    color: #ffbb52;
  }
/* end dark mode button */

@media screen and (min-width: 768px) {
    .card{
        width: 30%;
    }
}

.password{
    width: 40%;
}

.form-control{
    border: none;
    border-radius: 25px 0px 0px 25px;
}

.btn-form{
    background-color: white;
}

.btn-form:hover{
    background-color: var(--pink-color);
}

.btn-form:hover i{
    color: white;
}

.video{
    width: 65%
}