
#qr-reel{
	background-color: white;
	background-image: url("../assets/img/bg-qr-reel.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#qr-reel h2{
	margin-bottom: 2rem;
}

#qr-reel h4{
	display: flex;
	justify-content: center;
}


#qr-reel img{
	margin-top: 2rem;
	max-width: 300px;
}
.cubo-3d{
	height: 3rem;
	width: 3rem;
	margin-bottom: 1rem;
	position: relative;
	top: -5px;
	left: 5px;;
}
#loader{
    background: white;
}