body{
    background: url(../assets/img/fondo-rosa.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}
/* .slick-slide:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: .3s;
} */

/* Loader */

#loader{
    background: var(--light-blue-color);
}

#loader div{
    height: 100px;
    width: 100px;
    position: absolute;
    top: calc(50vh - 50px);
    left: calc(50vw - 50px);
    display: flex;
    align-items: center;
    justify-content: center;

}

#loader span{
  color: #fff;
  
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 80px;

}
#loader span {
    display: inline-block;
    animation: pulse 0.8s alternate infinite ease-in-out;
}
#loader span:nth-child(odd) {
    animation-delay: 0.8s;
  }

@keyframes pulse {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
/* end loader */

#web-sonrisanas{
    padding: 20px 0;
}
.slider-webs img{
    margin: auto;
    border-radius: 5px;
    max-height: 80%;
    box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.26);
    -webkit-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 4px 4px 13px -1px rgba(0,0,0,0.26);
    cursor: pointer;
    
}
.slick-arrow{
    height: 40px;
    width: 40px;
    z-index: 100;
}
.slick-arrow::before{
    font-size: 40px;
}
.slick-prev{
    left: 275px;
}
.slick-next{
    right: 275px;
}
.slick-prev:before {
    content: "";
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    color: white;
    background-color: var(--light-blue-color);
    padding: 0.8rem 1.06rem;
    border-radius: 50%;
    opacity: 1;
}
.slick-next:before {
    content: "";
    font-family: 'FontAwesome';
    font-size: 1.5rem;
    color: white;
    background-color: var(--light-blue-color);
    padding: 0.8rem 1.06rem;
    border-radius: 50%;
    opacity: 1;
}

#puzzle-modal h2 {
    padding: 1em;
    margin: 0em;
}
#puzzle-modal article {
    border-radius: 1em;
    text-align: center;
    max-width: 715px;
    margin: auto;
}

#puzzle-modal #contenedor {
    display: inline-block;
    margin: 10px;
    width: 428px;
    max-width: 428px;
}
#puzzle-modal .row{
    justify-content: center;
    align-items: center;

}
#puzzle-modal #contenedor>div {
    float: left;
    width: 202px;
    height: 202px;
    background-color: var(--dark-blue-color);
}

#puzzle-modal #imagenes {
    display: inline-block;
    display: flex;
    flex-direction: column;
    text-align:center;
    margin: 1em;
    border-radius: 5px;
    margin-top: 10px;
    height: 590px;
    width: 114px;
    max-width: 114px;
    background-color: var(--purple-color);
    padding: 10px;
}
#puzzle-modal #imagenes>img {
    height: 76px;
    width: 76px;
    margin: 10px;
}

#puzzle-modal .over {
    background-color:#545483;
    opacity: 0.5;
}

#puzzle-modal #resultado {
    font-size:1.5em;
    position: absolute;
    top: 40%;
    background: var(--dark-blue-color);
    color: white;
    text-align: center;
    width: 80%;
    left: 10%;
    padding: 0.5em;
    border-radius: 10px;
}
#puzzle-modal #resultado p{
    color: white;
}
#puzzle-modal .hide {
    display:none;
}
@media(max-width: 1366px){
    #puzzle-modal #imagenes {
        height: 430px;
        max-width: calc(80px + 0.5rem);
        width: calc(80px + 0.5rem);
        padding: 10px;
    }
    #puzzle-modal #imagenes>img {
        height: 58px;
        width: 58px;
        margin: 5px;
    }
    #puzzle-modal #contenedor{
        max-width: 350px;
    }
    #puzzle-modal #contenedor>div {
        width: 140px;
        height: 140px;
    }
    #puzzle-modal #contenedor>div img {
        width: 140px;
        height: 140px;
    }
    #puzzle-modal #contenedor>div>div {
        width: 140px;
        height: 140px;
    }
    .slider-webs img{
        max-width: 60%;
    }
    .slick-prev{
        left: 205px;
    }
    .slick-next{
        right: 205px;
    }
}
#blur-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.155);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--bs-modal-border-radius);
}
